{% extends "base_actions.html" %}
{% block content %}

<div class="page-header">
    <!-- relative navigation -->
    <div id="relative_nav" class="btn-group pull-right" role="group">
      <a {% if relative_nav.prev %}href="{% url 'record' relative_nav.prev %}"{% endif %} class="btn btn-default {% if not relative_nav.prev %}disabled{% endif %}"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Prev</a>
      <a {% if relative_nav.up %}href="{{ relative_nav.up }}"{% endif %} class="btn btn-default {% if not relative_nav.up %}disabled{% endif %}"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Last Search</a>
      <a {% if relative_nav.next %}href="{% url 'record' relative_nav.next %}"{% endif %} class="btn btn-default {% if not relative_nav.next %}disabled{% endif %}">Next <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
    </div>

    <h1>Object Record</h1>
</div>

{% if object.thumb %}
    <div id="thumbnail_container" class="pull-right">
        <a href="{{ MEDIA_URL }}{{ object.image }}"><img src="{{ MEDIA_URL }}{{ object.thumb }}" class="img-thumbnail" ></a>
    </div>
{% endif %}

<h2>{{ object.title }}</h2>



<div class="col-sm-12">
<form class="form-horizontal" role="form" action="{% url 'record' object.pk %}" method="post">
    {% csrf_token %}
    <div class="form-group form-group-sm">
        <!--<label for="title_change_field" class="col-sm-3 control-label" id="title_change_label">Change Title</label>-->
        <div class="input-group">
            <input type="text" class="form-control" id="title_change_field" placeholder="Enter a corrected title" title="Please enter a title with less than 256 characters." name="title" pattern="^(.{0,255})$">
            <span class="input-group-btn">
                <button id="title_change_submit" class="btn btn-sm btn-primary" type="submit">Change</button>
                <button id="title_change_reset" class="btn btn-sm btn-default" name="reset_title" type="submit" value="True">Reset Title</button>
            </span>
        </div>
    </div>
</form>
</div>

<div class="clearfix"></div>
<dl id="id_above_fold_metadata_list" class="dl-horizontal">
    <dt>Type</dt>
        <dd>{{ object.digobject_form }}</dd>
    <dt>Status</dt>
        <dd>{{ status }}</dd>

    <dt id="tag_term">Tags</dt>
    {% if object.digobjectfacetvalue_set.count > 0 %}
        <dd>
            <ul class="digobject_tag_list">
            {% for t in tags %}
                {% spaceless %}
                <li class="digobject_tag">
                    <a href="{% url 'browse_records_by_facet_value' t.facet_value.pk %}">{{ t.facet_value.value }}</a><a class="digobject_tag_remove" href="{% url 'delete_tag' t.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                </li>
                {% endspaceless %}
            {% endfor %}
            <li class="inline" >
                <form class="inline" action="{% url 'add_tags' object.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" ></span></button>
                </form>
            </li>
            </ul>
        </dd>
    {% else %}
        <dd><em class="de_emphasize">None</em>
            <form class="inline" action="{% url 'add_tags' object.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" ></span></button>
            </form>
        </dd>
    {% endif %}

</dl>

<ul class="nav nav-tabs" role="tablist">
    <li id="id_history_tab" {% if tab == "metadata" %}class="active" {% endif %}>
        <a href="#metadata" role="tab" data-toggle="tab">Original Metadata</a>
    </li>
    <li id="id_connections_tab" {% if tab == "connections" %}class="active" {% endif %}>
        <a href="#connections" role="tab" data-toggle="tab">Connections</a>
    </li>
    <li id="id_actions_tab" {% if tab == "actions" %}class="active" {% endif %}>
        <a  href="#actions" role="tab" data-toggle="tab">Take Actions</a>
    </li>
    <li id="id_history_tab" {% if tab == "history" %}class="active" {% endif %}>
        <a href="#history" role="tab" data-toggle="tab">View History</a>
    </li>
</ul>

<div class="tab-content ">
    <div class="tab-pane{% if tab == 'metadata' %} active{% endif %} " id="metadata">
        <br />
        <p>The following metadata was imported for this object. These terms will be indexed and searchable in the portal and will display in the detailed view of an object.</p>

        <p>Any corrections to you make to the object title will appear in the brief display of browse or search results. Both the corrected and original title will appear on the detailed display screen.</p>

        <dl id="id_below_fold_metadata_list" class="dl-horizontal record_field_list">
            {% for key, values in record_fields %}
                <dt>{% if key == 'Title' %}(Original) {% endif %}{{ key }}</dt>
                <dd>
                    <ul>
                    {% for value in values %}
                        <li><a href="{{ value.get_absolute_url }}">{{ value.element }}</a></li>
                    {% endfor %}
                    </ul>
                </dd>
            {% endfor %}
        </dl>
    </div>
    <div class="tab-pane{% if tab == 'actions' %} active{% endif %}" id="actions">
        <br />
        <ul>
            <li id="id_action_add_tags"><a href="{% url 'add_tags' object.pk %}">Add tags</a></li>
        {% if can_be_parent %}
            <li id="id_action_add_connections"><a href="{% url 'connect_select_children' object.pk %}">Add connections</a></li>
        {% endif %}
            <li><a href="{% url 'delete_record' object.pk %}">Delete record</a></li>
            <li id="id_action_update"><a href="{% url 'update_record' object.pk %}">Update record</a></li>
            <li id="id_action_preview"><a href="{% url 'preview_record' object.pk %}">Push to preview</a></li>
	    {% if preview_url %}
              <li id="id_action_preview_site"><a href="{{ preview_url }}">View in preview site</a></li>
	    {% endif %}
            <li id="id_action_publish"><a href="{% url 'publish_record' object.pk %}">Push to public site</a></li>
	    {% if publish_url %}
              <li id="id_action_publish_site"><a href="{{ publish_url }}">View in public site</a></li>
	    {% endif %}
            <li id="id_action_download_dc"><a href="{% url 'record_dcxml' object.pk %}">Download dc.xml file</a></li>
            <li id="id_action_download_original"><a href="{% url 'record_original_metadata' object.pk %}">Download original metadata file</a></li>
        </ul>
    </div>
    <div class="tab-pane{% if tab == 'connections' %} active{% endif %}" id="connections">
        {% if can_be_parent %}
        <form class="inline row" action="{% url 'connect_select_children' object.pk %}">
            {% csrf_token %}
            <div class="col-xs-12 text-center">
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus" ></span> Add New Child Connections
                </button>
            </div>
        </form>
        {% endif %}
        <dl>
            <dt>Parent Connections</dt>
            {% for connection in parent_connections %}
                <dd>
                    <form class="inline" method="POST" action="{% url 'connect_delete' connection.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove" ></span></button>
                    </form>
                    <a href="{{ connection.parent.get_absolute_url }}">{{ connection.parent }}</a>
                </dd>
            {% empty %}
                <dd class="de_emphasize">No connections found. You can <a href="{% url 'connect' %}">select a parent</a> record.</dd>
            {% endfor %}
        </dl>


        {% if can_be_parent %}
        <dl>
            <dt>Child Connections</dt>
            {% for connection in child_connections %}
                <dd>
                    <form class="inline" method="POST" action="{% url 'connect_delete' connection.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove" ></span></button>
                    </form>
                    <a href="{{ connection.child.get_absolute_url }}">{{ connection.child }}</a>
                </dd>
            {% empty %}
                <dd class="de_emphasize">No connections found.</dd>
            {% endfor %}
        </dl>
        {% endif %}


    </div>
    <div class="tab-pane{% if tab == 'history' %} active{% endif %}" id="history">
        <br />
        <ul>
            {% for e in object.event_set.all %}
            <li>{{ e }} by {{ e.meta_event.user.get_full_name }} on {{ e.meta_event.datestamp }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
