{% extends "base_actions.html" %}
{% block content %}

<div class="page-header">
  <h1>Update Record</h1>
</div>

<h2>{{ object.title }}</h2>

<dl class="dl-horizontal">
  <dt>Type</dt>
  <dd>{{ object.digobject_form }}</dd>
  <dt>Status</dt>
  <dd>{{ status }}</dd>
</dl>
<p>
  <form action="" method="post" enctype="multipart/form-data" role="form" id="wizard-form">
    {% csrf_token %}
    {{ form }}
    <a href="{% url 'record' object.pk %}" class="btn btn-default" id="id_button_cancel">Cancel</a>
    <input type="submit" class="btn btn-primary" value="Update" id="next" />
  </form>
</p>
<p>
  {% load jfutags %}
  {% jfu 'deposit/upload_form.html' %}
</p>
{% endblock content %}
