{% extends "base_admin.html" %}
{% load widget_tweaks %}

{% block content %}

  <h2>Change Password</h2>
  
  <p>Here you can change your password for Metadata Hopper. There are no character or capitalization requirements for choosing a new password.</p>
  
  <p>To change your password, first type in your old password in the "Old Password" box. Then input your new password first into the "New password" box and then again into the "New password confirmation" box.</p>
  
  <p>If you've forgotten your old password, you will need to sign out and use the "Reset password" link available from the login screen.</p>
  <br/>
  <form action="" method="post">
      {% csrf_token %}

      {% if form.non_field_errors %}
        <div class="alert alert-info" role="alert">
            {{ form.non_field_errors }}
        </div>
      {% endif %}

      {% for field in form %}
        <div class="form-group">
            {% if field.errors %}
            <div class="alert alert-info" role="alert">
                {{ field.errors }}
            </div>
            {% endif %}
            <div class="form-group">
                <label for="id_{{ field.html_name }}">{{ field.label }}:</label>
                {% render_field field class+='form-control' %}
            </div>
        </div>
      {% endfor %}

      <input type="submit" class="btn btn-primary">
  </form>

{% endblock %}
