{% extends "base_admin.html" %}
{% load widget_tweaks %}

{% block content %}
<h2>Error logs</h2>
<p>The log files below represent records that were not successfully deposited to the system. Each log will contain a description of the error and will contain each record that failed to ingest. You can use these logs to edit records if needed, then redeposit them to the system using the same import rules originally selected.</p>
<p>For more information see the <a href="http://metadatahopper.bitbucket.io/deposit-main/error-logs/">Error logs</a> page or <a href="{% url 'help_form' %}">Contact the Portal Manager</a>.</p>

<div class="panel panel-default">
    <div class="panel-body">
        <form action="." method="post" class="form-inline" role="form">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_start_date" class="control-label">Start Date</label>
                {% render_field date_form.start_date class+='datepicker' %}
            </div>
            <div class="form-group">
                <label for="id_end_date" class="control-label">End Date</label>
                {% render_field date_form.end_date class+='datepicker' %}
            </div>
            <input type="submit" value="filter" class="btn btn-primary">
        </form>
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>User</th>
            <th>Records</th>
            <th>Import Rules</th>
            <th>Errors</th>
            <th>Error log</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for e in events %}
        <tr>
            <td>{{ e.datestamp }}</td>
            <td>{{ e.user.last_name }}</td>
            <td>{{ e.success_count }}</td>
            <td>{{ e.profile }}</td>
            <td>{{ e.error_count }}</td>
            <td><a href="{% url 'error_log' e.id %}">{{ e.error_log_url }}</a>
            </td>
            <td><a href="{% url 'delete_error_log' e.id %}">[delete]</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7"><em>No error logs found.</em>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
