{% extends "base_actions.html" %}

{% block content %}

    {% block page_header %}
        <!-- Page Header -->
        <div class="page-header">
            <h1>{% if title %}{{ title }}{% else %}Message sent{% endif %}</h1>
        </div>
        <p class="lead">{{ subtitle }}</p>
    {% endblock page_header %}

    <p>Thank you for your message. You will receive a reply via email shortly.</p>
{% endblock %}
