{% extends "base_actions.html" %}

{% block content %}

    {% block page_header %}
    <!-- Page Header -->
    <div class="page-header">
        <h1>{% if title %}{{ title }}{% else %}Contact Us{% endif %}</h1>
    </div>
    <p class="lead">{{ subtitle }}</p>
    {% endblock page_header %}

    <p>Please submit any questions or difficulties you are having with Metadata Hopper.</p>

    <p>An administrator will reply to you via email.</p>


    <form action="." method="post" class="form" role="form">
        {% csrf_token %}
        {% for field in form %} {% include "includes/field.html" with field=field %} {% endfor %}
        <div class="form-group">
            <input type='submit' value='Submit' id="id_submit" class="btn btn-default">
        </div>
    </form>

{% endblock %}
