{% extends "base_actions.html" %}
{% load humanize %}

{% block content %}

<div class="page-header">
  <h1>Overview</h1>
</div>

<h2>{{ institution }}</h2>
<p>Metadata Hopper lets you deposit content to the {{ context }} portal, control how your content is discovered in the portal, and connect related content in the portal. If you need help getting started, use the Help and Tips text in the right-hand sidebar.</p>

<div class="text-center">
  <a href="{% url 'reindex' %}" class="btn btn-primary btn-lg {% if modified_records < 1 %}disabled{% endif %}">
    Index {{ modified_records }} modified record{{ modified_records|pluralize }}
  </a>
</div>


<h2>Your Content</h2>
<form class="" role="form" action="{% url 'browse_records' %}" method="get">
  {% csrf_token %}
  <div class="form-group">
    <label>Quick Search</label>
    <div class="input-group">
      <input type="text" class="form-control" id="quick_search" placeholder="Enter search terms" name="q" autofocus>
      <span class="input-group-btn">
        <button id="quick_search_clear" class="btn btn-default"><span class="glyphicon glyphicon-remove" ></span></button>
        <button id="quick_search_submit" class="btn btn-primary" type="submit">Search</button>
      </span>
    </div>
  </div>
</form>

<script>
// clear search field
$( "#quick_search_clear" ).click(function(e) {
  e.preventDefault();
  $('#quick_search').val('');
});
</script>


<div class="panel panel-default">
  <table id="overview_table" class="table table-striped">
    <thead>
      <tr id="overview_table_head">
        <th id="id_head_col0">Profile</th>
        <th id="id_head_col1" class="text-center">Deposited</th>
        <th id="id_head_col2" class="text-center">Previewed</th>
        <th id="id_head_col3" class="text-center">Published</th>
        <th id="id_head_col4" class="text-center">Other</th>
	<th id="id_head_col5" class="text-center">Total</th>
      </tr>
    </thead>
    <tbody>
      {% for p in profile_list %}
        <tr class="overview_table_row">
          <th id="id_row{{ forloop.counter }}_col0">{{ p.name }}</th>
          <td class="text-center" id="id_row{{ forloop.counter }}_col1">
	    {% if p.Deposited %}
              <a class="checkbox_label_link"
		 href="{% url 'browse_records' %}?profile={{ p.pk }}&status={{ statuses.Deposited.pk }}">
		<span class="checkbox_label label label-info">{{ p.Deposited }}</span>
	      </a>
	    {% else %}
              <span class="de_emphasize">0</span>
	    {% endif %}
	  </td>
          <td class="text-center" id="id_row{{ forloop.counter }}_col2">
	    {% if p.Previewed %}
              <a class="checkbox_label_link"
		 href="{% url 'browse_records' %}?profile={{ p.pk }}&status={{ statuses.Previewed.pk }}">
		<span class="checkbox_label label label-info">{{ p.Previewed }}</span>
	      </a>
	    {% else %}
              <span class="de_emphasize">0</span>
	    {% endif %}
	  </td>
          <td class="text-center" id="id_row{{ forloop.counter }}_col3">
	    {% if p.Published %}
              <a class="checkbox_label_link"
		 href="{% url 'browse_records' %}?profile={{ p.pk }}&status={{ statuses.Published.pk }}">
		<span class="checkbox_label label label-info">{{ p.Published }}</span>
	      </a>
	    {% else %}
              <span class="de_emphasize">0</span>
	    {% endif %}
	  </td>
          <td class="text-center" id="id_row{{ forloop.counter }}_col4">
	    {% if p.Other %}
              <a class="checkbox_label_link" href="">
		<span class="checkbox_label label label-info">{{ p.Other }}</span>
	      </a>
	    {% else %}
              <span class="de_emphasize">0</span>
	    {% endif %}
	  </td>
          <td class="text-center" id="id_row{{ forloop.counter }}_col5">
	    {% if p.Total %}
              <a class="checkbox_label_link"
		 href="{% url 'browse_records' %}?profile={{ p.pk }}">
		<span class="checkbox_label label label-info">{{ p.Total }}</span>
	      </a>
	    {% else %}
              <span class="de_emphasize">0</span>
	    {% endif %}
	  </td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr id="overview_table_foot">
        <th id="id_foot_col0" >Totals</th>
        <th id="id_foot_col1" class="text-center">
          {% if statuses.Deposited.count > 0 %}
            <a class="checkbox_label_link" href="{% url 'browse_records' %}?status={{ statuses.Deposited.pk }}">
	      <span class="checkbox_label label label-info">{{ statuses.Deposited.count }}</span>
	    </a>
          {% else %}
            <span class="de_emphasize">0</span>
          {% endif %}
        </th>
        <th id="id_foot_col2" class="text-center">
          {% if statuses.Previewed.count > 0 %}
            <a class="checkbox_label_link" href="{% url 'browse_records' %}?status={{ statuses.Previewed.pk }}">
	      <span class="checkbox_label label label-info">{{ statuses.Previewed.count }}</span>
	    </a>
          {% else %}
            <span class="de_emphasize">0</span>
          {% endif %}
        </th>
        <th id="id_foot_col3" class="text-center">
          {% if statuses.Published.count > 0 %}
            <a class="checkbox_label_link" href="{% url 'browse_records' %}?status={{ statuses.Published.pk }}">
	      <span class="checkbox_label label label-info">{{ statuses.Published.count }}</span>
	    </a>
          {% else %}
            <span class="de_emphasize">0</span>
          {% endif %}
        </th>
        <th id="id_foot_col4" class="text-center">
          {% if statuses.Other.count > 0 %}
            <a class="checkbox_label_link" href="">
	      <span class="checkbox_label label label-info">{{ statuses.Other.count }}</span>
	    </a>
          {% else %}
            <span class="de_emphasize">0</span>
          {% endif %}
        </th>
        <th id="id_foot_col5" class="text-center">
          {% if statuses.Total.count > 0 %}
            <a class="checkbox_label_link" href="{% url 'browse_records' %}">
	      <span class="checkbox_label label label-info">{{ statuses.Total.count }}</span>
	    </a>
          {% else %}
            <span class="de_emphasize">0</span>
          {% endif %}
        </th>
      </tr>
    </tfoot>
  </table>
</div>

<h2>Your {{ context }} Users</h2>
<dl class="dl-horizontal">
  {% if admins.count == 0 %}
    <dt>Administrator</dt><dd>No Admin</dd>
  {% elif admins.count == 1 %}
    <dt>Administrator</dt><dd>{{ admins.0.user.get_full_name }}</dd>
  {% else %}
    <dt>Administrators</dt>
    <ul>
      {% for admin in admins %}
        <li>{{ admin.user.get_full_name }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <dt>Archivists</dt><dd>{{ num_archivists }}</dd>
</dl>
{% endblock %}
