{% extends "base_admin.html" %}

{% block content %}
  <h2>Records with no tags</h2>
  <ul>
    {% for r in no_tags %}
      <li><a href="{{ r.get_absolute_url }}">{{ r }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
