{% extends "base.html" %}

{% block body %}
<div class="container-fluid main">
    {% csrf_token %}
    <h3>Reset</h3>
    <form action="{% url 'admin_reset' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Reset" class="btn btn-default" />
    </form>
</div>
{% endblock %}
