{% extends "base_admin.html" %}

{% block content %}
<h2>Update Institution</h2>
<div class="container-fluid main">
  <form method="post" action=".">
    {% csrf_token %}
    {% include "includes/form.html" with form=form %}
    <input type="submit" id="update" value="Update" class="btn btn-primary" />
  </form>
</div>
{% endblock %}
