{% extends "base_admin.html" %}

{% block content %}
<h2>Update Users</h2>
<div class="container-fluid main">
  <form method="post" action=".">
    {% csrf_token %}
    {{ form.management_form }}
    <table class="table table-bordered table-striped">
      <thead>
	<tr>
	  <th>User</th>
	  <th>Status</th>
	</tr>
      </thead>
      <tbody>
	{% for f in form %}
	  <tr>
	    <td>{{ f.instance.get_full_name }}</td>
	    <td>{% include "includes/form.html" with form=f %}</td>
	  </tr>
	{% endfor %}
      </tbody>
    </table>
    <input type="submit" id="update" value="Update" class="btn btn-primary" />
  </form>
</div>
{% endblock %}
