{% extends "base_admin.html" %}

{% block content %}
<h2>Update Locations</h2>
<div class="container-fluid main">
  <form method="post" action=".">
    {% csrf_token %}
    {{ form.management_form }}
    {% for f in form %}
      {% include "includes/form.html" with form=f %}
      <hr/>
    {% endfor %}
    <input type="submit" id="update" value="Update" class="btn btn-primary" />
  </form>
</div>
{% endblock %}
