<h4 id="sidebar_right_heading">Tips</h4>
<p>For the record separator form, if your record looks like this:</p>
<p>
<pre>
&lt;metadata&gt;
    &lt;record&gt;
        &lt;title&gt;
            Title1
        &lt;/title&gt;
    &lt;/record&gt;
    &lt;record&gt;
        &lt;title&gt;
            Title2
        &lt;/title&gt;
    &lt;/record&gt;
&lt;/metadata&gt;
</pre>
</p>
<p>Type <code>record</code> into the Source element field. </p>
