<h4 id="sidebar_right_heading">Tips</h4>
<p><span class="glyphicon glyphicon-asterisk alert-warning required_field" aria-hidden="true"></span> Indicates a required field</p>
<p><span class="glyphicon glyphicon-ok alert-success"></span> Indicates that your test has completed successfully</p>
<p><span class="glyphicon glyphicon-remove alert-danger"></span> Indicates that an error occurred with your test. Look next to the <span class="glyphicon glyphicon-remove alert-danger"></span>  to see the specific error.</p>
