<h4 id="sidebar_right_heading">Tips</h4>
<ul>
  <li>Choose <a href="{% url 'deposit' %}">Deposit &amp; Update</a> to add new or re-deposit content</li>
  <li>Choose <a href="{% url 'tag' %}">Tag</a> to control where your objects appear in the portal</li>
  <li>Choose <a href="{% url 'connect' %}">Connect</a> to connect related objects</li>
  <li>Choose <a href="{% url 'preview' %}">Preview</a> to see what your new content will look like in the portal</li>
  <li>Choose <a href="#">Publish</a> to make new content available in the public portal</li>
  <li>Use <a href="{% url 'search_browse' %}">Browse</a> to take any of these actions with a particular object or set of objects</li>
</ul>

<p>On this page you will see a button that you will let you "Index modified records." This button will update in your preview or public site any records that you have changed. It will not change the state of item, only update information about that object. It will be inactive when you have nothing new to index.</p>
