<h4 id="sidebar_right_heading">Tips</h4>

<p>If you have changed any objects, you can use the "Index Modified Records" button to make these changes appear in the preview site. Using this button for previewed objects will cause the record to be updated in the preview site <strong>only</strong>.</p>