<h4 id="sidebar_right_heading">Tips</h4>

<p>If you make changes to this object, such as adding or deleting tags, changing the title or adding connections, you will need to use the "Index Modified Records" button to make these changes appear in the preview or public site. Using this button to index records will not change the state of your objects. This means that objects that are only previewed will <strong>not</strong> be published and vice versa.</p>