{% extends "browse/browse.html" %}
{% load build_params %}
{% load widget_tweaks %}

{% block page_header %}
{{ block.super }}
<p>This is your original imported metadata.</p>
{% endblock page_header %}

{% block name_th %}
<th class="text-left">
    <a href="?{{ sort_urls.value }}">Value
    {% if current_params.sort in 'value, -value' %}
        {% if sort_order.value == 'reverse' %}
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true">
        {% else %}
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true">
        {% endif %}
    {% endif %}
    </a>
</th>
{% endblock name_th %}
