{% extends "browse/browse.html" %}
{% load build_params %}
{% load widget_tweaks %}

{% block name_th %}
<th class="text-left">
    <a href="?{{ sort_urls.title }}">Title
    {% if current_params.sort in 'title, -title' %}
        {% if sort_order.title == 'reverse' %}
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true">
        {% else %}
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true">
        {% endif %}
    {% endif %}
    </a>
</th>
{% endblock name_th %}

{% block status_th %}
<th class="text-center col_auto">
    <span><a href="?{{ sort_urls.status }}">Status
        {% if current_params.sort in 'status, -status' %}
            {% if sort_order.status == 'reverse' %}
                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true">
            {% else %}
                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true">
            {% endif %}
        {% endif %}
        </a>
    </span>
</th>
{% endblock status_th %}

{% block status_td %}
<td>
    {{ choice.status }}
</td>
{% endblock status_td %}

{% block type_td %}
<td>
    {% comment %}{{ choice.type }}{% endcomment %}
</td>
{% endblock type_td %}
