{% extends "base_actions.html" %}
{% load build_params %}
{% load widget_tweaks %}
{% block content %}
<div class="page-header">
    <h1>Search &amp; Browse</h1>
</div>

<hr>

{% block messages %}
    {% include 'includes/_messages.html'%}
{% endblock messages %}

<h3>Search Records <small>by your Original Metadata</small></h3>

<div class="row">
    {% include 'includes/_record_form.html' with form=search_form id_prefix='search_' %}
</div>
<span id="helpBlock" class="help-block">Use this form to execute a new record search.</span>

<h3>Browse</h3>

<div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a id="tab_by_metadata" href="#by_metadata" role="tab" data-toggle="tab">By Original Metadata</a>
        </li>
        <li role="presentation"><a id="tab_by_tag_group"  href="#by_tag" role="tab" data-toggle="tab">By Tag Group</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="by_metadata">

            <div class="panel-heading">
                <div class="row">
                {% include 'includes/_record_form.html' with form=filter_form action=request.get_full_path id_prefix='metadata_' %}
                </div>
                <span id="helpBlock" class="help-block">Use this form to filter imported values, below, by their associated records.</span>
            </div>


            <div class="panel-body">
            <table class="table table-bordered table-striped ">
                <thead>
                    <tr>
                        <th class="col_100">Field Label</th>
                        <th class="text-center col_auto">Metadata</th>
                        <th class="text-center col_auto">Records</th>
                    </tr>
                </thead>
                <tbody>
                {% for field in fields %}
                <tr>
                    <td>
                        <a href="{{ field.get_absolute_url }}" id="id_label_{{ field.pk }}">{{ field.field_label }}</a>
                    </td>
                    <td class="text-center">
                        <a href="{{ field.get_absolute_url }}{{ request.GET|build_params:'' }}" id="id_field_values_{{ field.pk }}" class="checkbox_label_link"><span class="label label-primary checkbox_label">{{ field.value_count }} values</span></a>
                    </td>
                    <td class="text-center">
                        <a href="{{ field.get_records_url }}{{ request.GET|build_params:'' }}" id="id_field_records_{{ field.pk }}" class="checkbox_label_link" id="id_record_link_{{ field.pk }}"><span class="label label-info checkbox_label">{{ field.record_count }} records</span></a>
                    </td>
                </tr>
                {% empty %}
                    <td colspan="3" class="de_emphasize">No items found</td>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="by_tag">

            <div class="panel-heading">

                <div class="row">
                {% include 'includes/_record_form.html' with form=filter_form action=request.get_full_path id_prefix='tags_' %}
                </div>
                <span id="helpBlock" class="help-block">Use this form to filter tag groups, below, by their associated records.</span>

            </div>

            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="col_100">Group Label</th>
                            <th class="text-center col_auto">Tags</th>
                            <th class="text-center col_auto">Records</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for group in groups %}
                    <tr>
                        <td>
                            <a href="{{ group.get_absolute_url }}">{{ group.label }}</a>
                        </td>
                        <td class="text-center">
                            <a href="{{ group.get_absolute_url }}{{ request.GET|build_params:'' }}" id="id_group_tags_{{ group.pk }}" class="checkbox_label_link"><span class="label label-primary checkbox_label">{{ group.value_count }} tags</span></a>
                        </td>
                        <td class="text-center">
                            <a href="{{ group.get_records_url }}{{ request.GET|build_params:'' }}" id="id_group_records_{{ group.pk }}" class="checkbox_label_link"><span class="label label-info checkbox_label">{{ group.record_count }} records</span></a>
                        </td>
                    </tr>
                    {% empty %}
                        <td colspan="3" class="de_emphasize">No items found</td>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>








{% endblock content %}
