<div class='media'>
    {% if choice.thumb %}<img src="{{ thumb }}" class='pull-left img-thumbnail' />{% endif %}
    <div class='media-body'>
        <small><dl>
            <h5>{{ choice.name }}</h5>

            {% if choice.identifier %}
                <dt>Local Identifier</dt>
                <dd>{{ choice.identifier }}</dd>
            {% endif %}

            {% if choice.description %}
                <dt>Description</dt>
                <dd>{{ choice.description|truncatewords:50 }}</dd>
            {% endif %}

        </dl></small>
    </div>
</div>
