{% load humanize %}

<!-- ValuesPullDown -->

<ul>
{% for element, objects in obj_nested.items %}
    <li>Records in <a href="{{dcxml_format.get_absolute_url}}">{{ dcxml_format.field_label }}</a>: <a href="{{element.get_absolute_url}}">{{ element }}</a>
    <ul>
        {% for object in objects %}
        <li><a href="{{object.get_absolute_url}}">{{object}}</a></li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>

{% if objs_flat|length > 1 %}
<div class="row">
  <div class="col-xs-12">
    <div id="tag_pulldown_wrapper" class="panel panel-default">
        <div class="panel-heading" id="tag_pulldown_button">
        <h3 class="panel-title"><a>{{ objs_flat.count|apnumber|title }} active record{{ objs_flat.count|pluralize }}<span id="pulldown_chevron" class="glyphicon glyphicon-chevron-down"></span></a>
        </h3>
      </div>

      <div id="tag_pulldown" class="panel-body">

        {% if objs_nested %}
        <dl id="add_tag_list">
        {% for element, objects in objs_nested.items %}
            <dt>
                <a href="{{dcxml_format.get_absolute_url}}">{{ dcxml_format.field_label }}</a>: <a href="{{element.get_absolute_url}}">{{ element }}</a>
            </dt>
            {% for object in objects %}
            <dd><a href="{{object.get_absolute_url}}">{{object}}</a></dd>
            {% endfor %}
        {% endfor %}
        </dl>

        {% else %}
        <ul>
            {% for p_obj in objs_flat %}
                <li><a href="{{ p_obj.get_absolute_url }}">{{ p_obj }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="tag_fade"></div>
    </div>
  </div>
</div>
{% elif objs_flat|length == 1 %}
<div class="row">
  <div class="col-xs-12">
      <h3>{{ objs_flat.0 }}</h3>
      <hr/>
  </div>
</div>
{% endif %}

