{% load widget_tweaks %}

{% comment %}
    This form filters Records (DigObjects) by ImportedValues (ValueElements).
    It is the standard filter form.
{% endcomment %}

<form id="id_{{id_prefix }}filter_buttons"  action="{% if action %}{{ action }}{% else %}{{ form.default_action }}{% endif %}" method="get" class="form-inline col-xs-12" role="form">
    {% csrf_token %}
    <div class="form-group">
        {% render_field form.status class+='btn-sm' class+='widget_status' %}
        {% render_field form.type class+='btn-sm' class+='widget_type' %}
        {% render_field form.field class+='btn-sm' class+='widget_field' %}
        <span class="btn-group radio_group" data-toggle="buttons">
        {% for widget_value, choice in form.predicate.field.widget.choices %}
            <label class="form-control btn btn-default btn-sm {% if sm %} btn-sm{% endif %}{% if widget_value == form.predicate.value %} active{% endif %}">
            <input type="radio"
                value="{{ widget_value }}"
                class="widget_predicate"
                name="{{ form.predicate.html_name }}"
                {% if widget_value == form.predicate.value %} checked{% endif %}>{{ choice }}
            </label>
        {% endfor %}
        </span>

        {% render_field form.q autofocus='true' placeholder="Enter filter terms" class+='btn-sm' class+='widget_q' %}
        <input type="submit" value="{{ form.submit_button_value }}" class="btn btn-primary widget_submit">
        <a class="btn btn-default " href="{{ path_no_params }}" class="widget_clear" role="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
    </div>
</form>
