<div class="form-group">
    <input type='submit' value='Apply selected tags' id="id_submit" class="btn btn-primary">



    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-default">Cancel</a>
</div>
