<label class="checkbox-inline">
  <input type="checkbox" id="checkbox_select_all"> Select All (on this page)
</label>

{% if review == True %}<!-- TODO make review work in general, not only in facet view.  Review of review.  -->
    <button type='submit' name="action" id="id_action_button_review" value="review" class="btn btn-default" >Review</button>
{% endif %}

<button type='submit' name="action" id="id_action_button_delete" value="delete" class="btn btn-warning " >Untag</button>

{% comment %}<a href="#" class="btn btn-default">Cancel</a>{% endcomment %}

<script>
$(function() {
    var checkboxes = $('#request_results_form input[type="checkbox"]')
    $('#checkbox_select_all').click(function(){
        if ($(this).is(":checked")) {
            checkboxes.each(function() {
                if ($(this).is(":visible")) {
                    this.checked = true
                }
            })
        } else {
            checkboxes.each(function() {
                if ($(this).is(":visible")) {
                    this.checked = false
                }
            })
        }
    })
})
</script>

