<div class="form-group">
    <div class="row">
        <div class="col-xs-1">
            <input id="id_{{ form.use_xpath.html_name }}_0" name="{{ form.use_xpath.html_name }}" type="radio" value="True" {% if form.use_xpath.value == "True" %}checked{% endif %}/>
        </div>
        <div class="col-xs-11">
            <label for="id_{{ form.use_xpath.html_name }}_0" class="control-label">Value appears in metadata record</label>
        </div>
    </div>
</div>

{% include "includes/field.html" with field=form.xpath %}
{% if "attribute" in form.fields %}
    {% include "includes/field.html" with field=form.attribute %}
{% endif %}
{% if "attribute_value" in form.fields %}
    {% include "includes/field.html" with field=form.attribute_value %}
{% endif %}
{% if "instance" in form.fields %}
    {% include "includes/field.html" with field=form.instance %}
{% endif %}
{% if "has_delimiter" in form.fields %}
  {% include "includes/field.html" with field=form.has_delimiter %}
  {% include "includes/field.html" with field=form.delimiter %}
{% endif %}
<script>
  $("#id_{{ form.xpath.html_name }}").focus(function () {
    $("input:radio[name={{ form.use_xpath.html_name }}]:nth(0)").attr("checked", true);	  
  });
</script>

<div class="form-group">
    <div class="row">
        <div class="col-xs-1">
            <input id="id_{{ form.use_xpath.html_name }}_1" name="{{ form.use_xpath.html_name }}" type="radio" value="False" {% if form.use_xpath.value == "False" %}checked{% endif %}/>
        </div>
        <label for="id_{{ form.use_xpath.html_name }}_1" class="col-xs-11 control-label">Use text below for value</label>
    </div>
</div>
<div class="form-group">
    <label for="id_{{ form.default.html_name }}">{{ form.default.label }}:</label>{{ form.default }}
</div>
<script>
  $("#id_{{ form.default.html_name }}").focus(function () {
    $("input:radio[name={{ form.use_xpath.html_name }}]:nth(1)").attr("checked", true);	  
  });
</script>
