<div class="form-group" id="local_identifier_form_group">
    <div class="radio">
        <label>
            <input type="radio" id="id_{{ form.use_xpath.html_name }}_0" name="{{ form.use_xpath.html_name }}" value="True" {% if form.use_xpath.value == "True" %}checked{% endif %}/>
	    Value appears in metadata record
        </label>
        <script>var radio_name = '{{ form.use_xpath.html_name }}_0'</script>
    </div>

    <fieldset id="filename_fields">
    {% include "includes/field.html" with field=form.xpath %}
    {% if "attribute" in form.fields %}
        {% include "includes/field.html" with field=form.attribute %}
    {% endif %}
    {% if "attribute_value" in form.fields %}
        {% include "includes/field.html" with field=form.attribute_value %}
    {% endif %}
    {% if "instance" in form.fields %}
        {% include "includes/field.html" with field=form.instance %}
    {% endif %}
    </fieldset>
<script>
  $("#id_{{ form.xpath.html_name }}").focus(function () {
    $("input:radio[name={{ form.use_xpath.html_name }}]:nth(0)").attr("checked", true);	  
  });
</script>

    <div class="radio" id="filename_radios">
        <label>
            <input type="radio" id="id_{{ form.use_xpath.html_name }}_1" name="{{ form.use_xpath.html_name }}" value="False" {% if form.use_xpath.value == "False" %}checked{% endif %}/>
	    Use the filename
        </label>
    </div>
</div>
