<div class="panel panel-info">
  <div class="panel-heading">* {% if form.is_remote %}Image URL{% else %}Image Filename{% endif %}</div>
  <div class="panel-body">
    {% if form.use_filename.errors %}
      <div class="alert alert-info" role="alert">
	{{ form.use_filename.errors }}
      </div>
    {% endif %}
    {% if not form.use_filename.is_hidden %}
	<div class="radio">
	  <label>
	    <input type="radio" id="id_{{ form.use_filename.html_name }}_0" name="{{ form.use_filename.html_name }}" value="False" {% if form.use_xpath.value == "False" %}checked{% endif %}/>
	    Value appears in metadata record
	  </label>
	</div>
     {% endif %}

      <fieldset id="filename_fields">
	{% include "includes/field.html" with field=form.image_filename %}
	<script>
	  $("#id_{{ form.image_filename.html_name }}").focus(function () {
	    $("input:radio[name={{ form.use_filename.html_name }}]:nth(0)").attr("checked", true);	  
	  });
	</script>
	{% include "includes/field.html" with field=form.filename_instance %}
	{% include "includes/field.html" with field=form.has_extension %}
      </fieldset>
	
      {% if not form.use_filename.is_hidden %}
        <div class="radio" id="filename_radios">
	  <label>
	    <input type="radio" id="id_{{ form.use_filename.html_name }}_1" name="{{ form.use_filename.html_name }}" value="True" {% if form.use_xpath.value == "True" %}checked{% endif %}/>
	    Use the filename
	  </label>
	</div>
      {% endif %}
      <p><div id="id_{{ form.prefix }}-2-alert" class="hidden" role="alert"></div></p>
      <p>
        <input id="id_{{ form.prefix }}-2-test" name="{{ form.prefix }}-2-test" value="Test" class="btn btn-default" 
	       onclick="validate_filesource(this.name, '{{ file }}')"/>
      </p>
  </div>
</div>
