{% load build_params %}
{% if form.pages.count > 20 %}
<p class="text-center">items per page
<ul class="pagination pagination-sm">
    <li {% if form.pages.per_page == 20 %}class="active"{% endif %}><a href="{{ request.GET|build_params:'items_per_page' }}20">20</a></li>
    <li {% if form.pages.per_page == 50 %}class="active"{% endif %}><a href="{{ request.GET|build_params:'items_per_page' }}50">50</a></li>
    <li {% if form.pages.per_page == 100 %}class="active"{% endif %}><a href="{{ request.GET|build_params:'items_per_page' }}100">100</a></li>
</p>
</ul>

{% endif %}
