<ul>
    {% for item in items %}
        <li>
            <a href="{{ item.url }}">{{ item.name }}</a>
            <a href="{{ item.obj_url }}"><span class="badge">{{ item.obj_count }} <small>record{% if item.obj_count != 1%}s{% endif %}</small></span></a>
        </li>
    {% endfor %}
</ul>
