{% for f in fields %}
  <dl class='dl-horizontal'>
    <dt>{{ f.field.dcxml_format.field_label }}</dt>
    <dd>
      {% for e in f.elements %}
      {% if e.xpath %}
      <p>
        Path: {{ e.xpath }}
        {% if e.instance %}
          <br>Instance: {{ e.instance }}
        {% endif %}
        {% if e.delimiter %}
          <br>Delimiter: {{ e.delimiter }}
        {% endif %}
      </p>
      {% elif e.default_text %}
        <p>Default: {{ e.default_text }}</p>
      {% elif e.use_filename %}
        <p>Using filename</p>
      {% else %}
        <p>[Not mapped]</p>
      {% endif %}
      {% empty %}
        <p>[Not mapped]</p>
      {% endfor %}
    </dd>
  </dl>
{% endfor %}
