<div class="panel panel-default">
    <!-- Pager -->
    {% if form.pages.num_pages > 1 %}
    <div class="panel-heading text-center">
        {% include "includes/pages.html" %}
    </div>
    {% endif %}

    <!-- Results form (for results and values) -->
    <form action="{{ request.get_full_path }}" method="post" class="form" role="form">
        {% csrf_token %}
        <div class="panel-body">

        <!-- Action buttons -->
        <div id="request_actions" class="form-group form-inline">
            {% include 'includes/buttons_action.html' %}
        </div>

        </div>

        <!-- Errors -->
        {% if form.non_field_errors or form.action.errors or form.items.errors %}
        <div id="request_errors" class="alert alert-info" role="alert">
            {{ form.non_field_errors }}
            {{ form.action.errors }}
            {{ form.items.errors }}
        </div>
        {% endif %}

        <!-- Checkboxes -->
        <div id="request_results_form" class="form-group">
            {% include 'includes/checkbox_table.html' %}
        </div>
    </form>

    <!-- Pager -->
    {% if form.pages.num_pages > 1 %}
    <div class="panel-footer text-center">
        {% include "includes/pages.html" %}
    </div>
    {% endif %}
</div>
