{% extends "base_actions.html" %}

{% block content %}

<div class="page-header">
    <h1>404: File Not Found</h1>
    <p class="lead">The file you're looking for cannot be located.</p>
</div>

<p>Please check your URL and try again.</p>

<p><a href="{% url 'overview' %}">Back to Overview</a></p>

{% endblock content %}
