{% extends "base_actions.html" %}

{% block content %}

<div class="page-header">
    <h1>500: Internal Server Error</h1>
    <p class="lead">The system is having a hiccup.</p>
</div>

<p>If this problem persists, please contact your system administrator.</p>

<p><a href="{% url 'overview' %}">Back to Overview</a></p>

{% endblock content %}
