{% extends "base_nav.html" %}
{% load render_tips %}

{% block sidebar_nav %}
  <ul class="nav nav-pills nav-stacked sidebar_nav_list">
    {% with p=request.path %}
      <li {% if '/overview/' in p %}class="active" {% endif %}><a href="{% url 'overview' %}">Overview</a></li>
      <li {% if '/deposit/' in p %}class="active" {% endif %}><a href="{% url 'deposit' %}">Deposit</a></li>
      <li {% if '/tag/' in p %}class="active" {% endif %}><a href="{% url 'tag' %}">Tag</a></li>
      <li {% if '/connect/' in p %}class="active" {% endif %}><a href="{% url 'connect' %}">Connect</a></li>
      <li {% if '/preview/' in p %}class="active" {% endif %}><a href="{% url 'preview' %}">Preview</a></li>
      <li {% if '/publish/' in p %}class="active" {% endif %}><a href="{% url 'publish' %}">Publish</a></li>
      <li {% if '/browse/' in p or '/records/' in p %}class="active" {% endif %}><a href="{% url 'search_browse' %}">Browse</a></li>
    {% endwith %}
  </ul>
{% endblock sidebar_nav %}

{% block sidebar_context %}
    <h4 id="sidebar_right_heading"><a href="{% url 'help' %}">Help</a></h4>
    <ul class="sidebar_list">
        <!--<li><a href="#">FAQ</a></li>-->
        <li><a href="https://metadatahopper.bitbucket.io/" target="_blank">User Guide</a></li>
        <li><a href="https://guides.chicagocollections.org/cccdatadictionary" target="_blank">CCC Data Dictionary</a></li>
        <li><a href="{% url 'help_form' %}">Contact Us</a></li>
        <li><a href="{% url 'help' %}">more...</a></li>
    </ul>
    {% block tips %}
      {% render_tips request.get_full_path %}
    {% endblock %}
{% endblock sidebar_context %}
