{% extends "base_nav.html" %}
{% load permissions %}

{% block sidebar_nav %}
  {% is_admin as admin %}
  <ul class="nav nav-pills nav-stacked sidebar_nav_list">
    {% with p=request.path %}
      <li {% if 'admin/account/' in p %}class="active" {% endif %}><a href="{% url 'password_change' %}">My Account</a></li>
      {% if admin %}
        <li {% if 'admin/locations/update' in p %}class="active" {% endif %}><a href="{% url 'update_locations' %}">Locations</a></li>
      {% endif %}
      <li {% if 'admin/reports' in p %}class="active" {% endif %}><a href="{% url 'reports' %}">Reports</a></li>
      <li {% if 'admin/logs/' in p %}class="active" {% endif %}><a href="{% url 'error_logs' %}">Error Logs</a></li>
      {% if admin %}
        <li {% if 'admin/users/update' in p %}class="active" {% endif %}><a href="{% url 'update_users' %}">Users</a></li>
      {% endif %}
      <li><a href="http://metadatahopper.bitbucket.io/general/administration">Admin Help</a></li>
    {% endwith %}
  </ul>
{% endblock sidebar_nav %}
