<html>
  <head>
    <title>Deposited!</title>
  </head>
  <body>
    <hr>
    Your deposit request raised no errors.  Please review the Django Admin for deposited data.
    <hr>
    profile: {{profile_id}}, context: {{context_id}}
  </body>
</html>
