{% extends "base.html" %}
{% block body %}
<div class="container-fluid main">
  <h1>Metadata Hopper for Chicago Collections</h1>
  <hr>
  <p>
    Metadata Hopper is a tool built by the University of Illinois at Chicago Library in cooperation with Chicago Collections. It is designed to work with the eXtensible Text Framework digital library platform from California Digital Library.
  </p>
  <p>
    Metadata Hopper allows users to contribute content to an XTF repository and to enhance that content through shared navigation facets or 'tags.' It also generates a Dublin Core metadata file that works alongside the original metadata file to create a consistent search and browse interface.
  </p>
  <hr>
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {% include "includes/form.html" with form=form %}
    <input type="submit" id="login" value="login" class="btn btn-default" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  <a href="{% url 'django.contrib.auth.views.password_reset' %}">Reset password</a>
</div>
{% endblock %}
