{% extends "base.html" %}

{% block body %}
<div class="container-fluid main">
  <form method="post" action="{% url 'select_context' %}">
    {% csrf_token %}
    {% include "includes/form.html" with form=form %}
    <input type="submit" id="login" value="login" class="btn btn-default"/>
    </div>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>
{% endblock %}
