{% extends "base_actions.html" %}

{% block content %}

<div class="page-header">
    <h1>{{ title }}</h1>
    <p class="lead">{{ subtitle }}</p>
</div>

<form method="post">
    {% csrf_token %}
    <p class="lead">Are you sure you want to delete the connection between the following two records?

    <dl class="dl-horizontal">
        <dt>Parent</dt><dd><a href="{{ parent.get_absolute_url }}">{{ parent }}</a></dd>
        <dt>Child</dt><dd><a href="{{ child.get_absolute_url }}">{{ child }}</a></dd>
    </dl>
    <input type="submit" value="Confirm" type="button" class="btn btn-danger" />
</form>

{% endblock content %}
