{% extends "base_actions.html" %}
{% load widget_tweaks %}
{% load humanize %}

{% block content %}
<div class="page-header">
    <h1>Remove Tag from records.</h1>
</div>

<form method="post">{% csrf_token %}
    {% if view.tags %}
    <p>Are you sure you want to remove the following tags...</p>
    <ul>
        {% for tag in view.tags %}
        <li><a href="{{ tag.get_absolute_url }}">{{ tag }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p><em>No tags selected.</p>
    {% endif %}

    {% if view.objs %}
    <p>...from the following objects:</p>
    <ul>
    {% for obj in view.objs %}
        <li><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p><em>No objects selected.</em></p>
    {% endif %}

    <input class="btn btn-warning" type="submit" name="confirm" id='confirm_tag_remove' value="Confirm Removal" {% if not view.objs %}disabled{% endif %} />
    <input class="btn btn-default" type="submit" name="cancel" value="Cancel" />
</form>

{% endblock content %}
