{% extends "base_actions.html" %}

{% block content %}
<div class="page-header">
    <h1>Tagged records</h1>
</div>

<h2>Institutions</h2>
<ul>
  {% for i in institutions %}
    <li>{{ i }}</li>
  {% endfor %}
</ul>
<h2>Trigger terms:</h2>
<ul>
  {% for t in trigger_terms %}
    <li>{{ t }}</li>
  {% endfor %}
</ul>
{% endblock %}
