{% extends "base_actions.html" %} {% block content %}
<div class="page-header">
    <h1>Retag with Trigger Terms</h1>
</div>

<p>
    <form action="." method="post" class="form" role="form">
        {% csrf_token %}
        <div class="form-group">
            <strong>{{ form.institutions.label }}</strong>
            {% if form.institutions.errors %}
                <div class="alert alert-info" role="alert">
                    {{ form.institutions.errors }}
                </div>
            {% endif %}
            {% include "includes/checkbox_table.html" with field=form.institutions %}
        </div>
        <div class="form-group">
            <strong>{{ form.trigger_terms.label }}</strong>

            {% if form.trigger_terms.errors %}
                <div class="alert alert-info" role="alert">
                    {{ form.trigger_terms.errors }}
                </div>
            {% endif %}

            {% include "includes/checkbox_table.html" with field=form.trigger_terms %}
        </div>
        <div class="form-group">
            <input type='submit' value='Submit' id="id_submit" class="btn btn-default">
        </div>
    </form>
</p>
{% endblock %}
