{% extends "base_actions.html" %}
{% block content %}
{% load humanize %}

<div class="page-header">
    <h1>Review Tags</h1>
</div>

<!-- no filter buttons on this view-->

<hr>

<div id="results_section" class="row">
    <!-- Page count -->
    <div id="results_page_count" class="col-sm-4">
      <p><span class="lead">{{ form.page.start_index }} to {{ form.page.end_index }}</span> of {{ form.page.paginator.count }}</p>
    </div>

    <!-- Results per page -->
    <!-- only for value results -->
    <div id="results_results_per_page" class="col-sm-4">
        {% include "includes/items_per_page.html" %}
    </div>

    <!-- Sorter -->
    <div id="results_page_sort" class="col-sm-4">
        <p class="text-right">sort by<br />
            <a href="#">tag</a> |
            <a href="#">record</a> |
            <a href="#">category</a>
        </p>
    </div>
</div>

<div class="panel panel-default">

    <!-- Pager -->
    {% if form.pages.num_pages > 1 %}
    <div class="panel-heading text-center">
        {% include "includes/pages.html" %}
    </div>
    {% endif %}

    <div class="panel-body">
        <form action="{{ request.get_full_path }}" method="post" class="form" role="form">
            {% csrf_token %}

            <!-- Action buttons -->
            <div id="request_actions" class="form-group form-inline">
                {% include 'includes/buttons_action_tag.html' %}
            </div>

            <hr />

            <!-- Errors -->
            {% if form.facet_values.errors or form.action.errors %}
            <div id="request_errors" class="alert alert-info" role="alert">
                {{ form.facet_values.errors }}
                {{ form.action.errors }}
            </div>
            {% endif %}

            <div id="request_results_form" class="form-group">
                {% with field=form.values %}
                    {% for pk, choice in field.field.widget.choices %}
                    <div class="checkbox">
                        <label for="id_{{ field.html_name }}_{{ forloop.counter0 }}" class="control-label">
                            <input type="checkbox" id="id_{{ field.html_name }}_{{ forloop.counter0 }}" value="{{ pk }}" name="{{ field.html_name }}">
                            <a href="{% url 'record' choice.digobject.pk %}">{{ choice.digobject.title }}</a>
                            <br>
                            <strong>{{ choice.facet_value.facet_group }}</strong>: {{ choice.facet_value }}
                            <br>
                        </label>
                    </div>
                    {% endfor %}
                {% endwith %}
            </div>
        </form>
    </div>

    {% if form.pages.num_pages > 1 %}
    <div class="panel-footer text-center">
        {% include "includes/pages.html" %}
    </div>
    {% endif %}
</div>

{% endblock %}
