{% extends "browse/browse.html" %}

{% block page_header %}
<!-- Page Header -->
<div class="page-header">
    <h1>{{ title }}</h1>
</div>

<p class="lead">{{ subtitle }}</p>

<p>This area allows you to work with the content you have uploaded. Here you can:
  <ul>
    <li>Add or remove tags from controlled vocabularies</li>
    <li>Review tags added manually or automatically by Metadata Hopper</li>
    <li>Delete records</li>
    <li>Navigate to an object's record page</li>
  </ul>
</p>
{% endblock page_header %}

{% block name_th %}
<th class="text-left">
    <a href="?{{ sort_urls.title }}">Title
    {% if current_params.sort in 'title, -title' %}
        {% if sort_order.title == 'reverse' %}
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true">
        {% else %}
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true">
        {% endif %}
    {% endif %}
    </a>
</th>
{% endblock name_th %}
