{% extends "deposit/wizard.html" %}

{% block headings %}
    <div class="page-header">
        <h1>Create Import Mapping Rules: {{ digobject_type }}</h1>
    </div>

    <p class="lead">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}: {{ step_name }}</p>
{% endblock %}
