{% extends "base_actions.html" %}

{% block content %}
  <div class="page-header">
    <h1>Deposit &amp; Update</h1>
  </div>

  <p>In this section, you can create import mapping rules, which are created once per unique metadata set. These tell the system where to find values for certain elements (such as title, subject, etc) within your metadata. Once import mapping rules have been created, you will have the ability to upload content and to update content that is no longer current.</p>

  <ul class="nav nav-tabs" role="tablist">
    {% for t in types %}
      <li{% if forloop.counter0 == 0 %} class="active" {% endif %}>
	<a href="#{{ t.type }}" role="tab" data-toggle="tab">{{ t.value }}</a>
      </li>
    {% endfor %}
  </ul>

  <div class="tab-content">
    {% for t in types %}
      <div class="tab-pane{% if forloop.counter0 == 0 %} active{% endif %}" id="{{ t.type }}">
        {% if t.profiles %}
          <h3>Upload using existing deposit rules for:</h3>
          <ul>
            {% for p in t.profiles %}
              <li>
		<a href="{% url 'upload' p.id %}">{{ p.name }}</a>
		<a href="{% url 'upload_rules' p.id %}"  class="checkbox_label_link">
		  <span class="label label-info checkbox_label ">view rules</span>
		</a>
	      </li>
            {% endfor %}
          </ul>
        {% endif %}

        <h3>Create new deposit rules for:</h3>
        <ul>
          {% for f in t.forms %}
            <li><a href="{% url 'create_profile' f.id %}">{{ f }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
{% endblock %}
