{% extends "deposit/create_profile_wizard.html" %}

{% block head %}
<script src="{{ STATIC_URL }}js/samplefile.js"></script>
{% endblock %}

{% block additional_text %}
<p>Starting from this step, you will be specifying where certain fields in your metadata are. You will need to input the full path (from the record separator) exactly as it appears in your XML in each “Source element” box. Please be aware that this information is case sensitive. For more information on paths and reading XML files, please <a href="http://metadatahopper.bitbucket.io">consult the user guide</a>.</p>
{% endblock %}

{% block tips %}
  {% include "help/deposit_profile_add_4b.html" %}
{% endblock %}

{% block form_content %}
    {% if form.non_field_errors %}
        <div class="alert alert-info" role="alert">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    {% if form.record_separator.is_hidden %}
	{{ form.record_separator }}
    {% else %}
      {% with field=form.record_separator %}
	<div class="panel panel-info">
	  <div class="panel-heading">{% if field.required %}<span class="glyphicon glyphicon-asterisk alert-warning required_field" aria-hidden="true"> {% endif %}{{ field.label }}</div>
	  <div class="panel-body">
            <div><span class="helptext">{{ field.help_text }}</span></div>

              {% if field.errors %}
                <div class="alert alert-info" role="alert">
		  {{ field.errors }}
		</div>
	      {% endif %}

	    <div class="form-group"><label for="id_{{ field.html_name }}">Source element:</label>{{ field }}</div>
	    <p><div id="id_{{ form.prefix }}-1-alert" class="hidden" role="alert"></div></p>
            <p>
              <input id="id_{{ form.prefix }}-1-test" name="{{ form.prefix }}-1-test" value="Test" class="btn btn-default"
		     onclick="validate_separator(this.name, '{{ file }}')"/>
            </p>
	  </div>
	</div>
      {% endwith %}
    {% endif %}
    {% include "includes/image_filename.html" with form=form %}
    {% include "includes/microform.html" with field=form.image_suffix label="Suffix:" %}
{% endblock %}
