{% extends "deposit/upload_wizard.html" %}

{% block additional_text %}
  <h3>Service location:</h3>
  <p>Your institution has more than one service location where collections are held. Make sure that all of items you are depositing are held at the same location and indicate the location using the drop-down menu below:</p>
{% endblock %}
