{% extends "base_actions.html" %}

{% block content %}
<div class="page-header">
    <h1>Add New Content: {{ profile.name }}</h1>
</div>
<h2>Processing deposit...</h2>

<p>Your files have been received by Metadata Hopper and we are currently processing them. You will be sent an email confirmation once the deposit has been processed, and you may navigate away from this page.</p>

<p>Continue uploading files with <a href="{% url 'upload' profile.pk %}">{{ profile.name }}</a></p>
{% if profiles.count > 0 %}
<p>Upload files with different rules:</p>
<ul>
    {% for p in profiles %}
    <li><a href="{% url 'upload' p.pk %}">{{ p }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
