{% extends "deposit/upload_wizard.html" %}

{% block additional_text %}
  <p>Use the add files button to select the directory containing the metadata and media file (such as image and .pdf files) you want to upload.</p>

  <p>Once you have added all files, click the start upload button to begin uploading files. Once files have been uploaded, they will be removed from the queue.</p>

  <p>
    When all files have been uploaded, click the Finish button to begin processing your files.
  </p>
{% endblock %}

{% block additional_content %}
  {% load jfutags %}
  {% jfu 'deposit/upload_form.html' %}
{% endblock %}
