{% extends "deposit/wizard.html" %}

{% block headings %}
<div class="page-header">
  <h1>Add New Content: {{ profile.name }}</h1>
</div>
<p class="lead">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
{% endblock %}
