{% extends "base_actions.html" %}

{% block content %}
  <h2>{{ profile.name }}</h2>

  <h3>Profile Description</h3>
  <p>{{ profile.description }}</p>

  <h3>Rules</h3>
  {% include "includes/profile_rules.html" with fields=rules %}
  {% if profile.filesource_set.all %}
    <dl class='dl-horizontal'>
      <dt>File sources</dt>
      {% for f in profile.filesource_set.all %}
        <dd>
	  {% if f.use_filename %}
	    Using filename
	  {% else %}
	    Path: {{ f.xpath }}
            {% if f.instance %}
              <br>Instance: {{ f.instance_number }}
            {% endif %}
	    <br>Suffix: {% if f.suffix %}{{ f.suffix }}{% else %}[None]{% endif %}
	    <br>Metadata includes file extension: {% if f.has_extension %}Yes{% else %}No{% endif %}
	  {% endif %}
	</dd>
      {% endfor %}
    </dl>
  {% endif %}
{% endblock %}
