{% extends "base_actions.html" %}

{% block head %}{{ wizard.form.media }}{% endblock %}

{% block content %}
    {% block headings %}
    {% endblock %}

    {% block additional_text %}
    {% endblock %}

    <p>
      <form action="" method="post" enctype="multipart/form-data" role="form" id="wizard-form">
	{% csrf_token %}
	{{ wizard.management_form }}
	{% block form_content %}
          {% include "includes/form.html" with form=wizard.form %}
	{% endblock %}

	{% if wizard.steps.step0 > 0 %}
          <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="btn btn-default">Back</button>
	{% endif %}

          <a href="{% url 'deposit' %}" class="btn btn-default" id="id_button_cancel">Cancel</a>
          <input type="submit" class="btn btn-primary" value="{% if wizard.steps.next %}Next{% else %}Finish{% endif %}" id="next" />
      </form>
    </p>
    <p>
      {% block additional_content %}
      {% endblock %}
    </p>
{% endblock %}
